.item{
    color: rgb(170, 184, 190) !important;
    font-weight: bold !important;
    
}

.item:hover{
    color: rgb(255, 255, 255) !important;
    cursor: pointer;
    
}

.item span{
    font-size: 1.3rem;
}

.activex {
    background-color: var(--secondary-color) !important;
    font-weight: bold !important;
    font-size: 1.1rem;
    color:black !important;
  }

.activex:hover{
    color:rgb(77, 75, 75) !important;
    background-color: var(--secondary-color-hover) !important;
}

.menuTopMargin{
    margin-top: 35px !important;
}